/src/**/*.n
*_sec.gpg
*_ssh

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
/cmake/uninstall.cmake

# build files
/build*/
/libs/src
/libs/tmp
/libs/download
*.sln
*.vcxproj
*.vcxproj.filters
*.opensdf
*.suo
Win32
Release
Debug
neko.sln
*.dir
bin
