/bin/*.ndll
/bin/nekoml.std
/bin/neko
/bin/nekoc
/bin/nekoml
/bin/nekotools
*.dll
*.exe
*.user
*.exp
*.lib
*.suo
*.sdf
Debug
Debug2
Release
Release2
Release5
*.dll
*.n
*.ipch
*.opensdf
*.o
*.so
*~
*.bak

