/*** BASE ***/

body {
	margin				: 0px;
	padding				: 0px;
	background-color	: white;
	font-family			: Trebuchet MS, sans-serif;
	font-size			:
}

a {
	color			: #ffa157;
	font-weight		: bold;
	text-decoration	: underline;
}

a:hover {
	color			: #aaa;
	text-decoration	: none;
}

a img {
	border	: 0px;
}

.center {
	text-align: center;
}

p {
	margin-left	: 30px;
}

p:first-letter {
	color		: #c0c0c0;
	font-weight	: bold;
}

.plink  {
	margin-left : 30px;
}

h1 {
	color			: black;
	text-transform	: capitalize;
	text-align		: left;
	margin-bottom	: 0px;
}

h2 {
	border-bottom	: 3px solid #e4e4e4;
	padding			: 0px;
	margin-top		: 50px;
	margin-bottom	: 10px;

	color			: #d0d0d0;
	text-transform	: lowercase;
}

h3 {
	color		: #888;
	font-size	: 14pt;
	margin-left	: 30px;
	margin-top		: 30px;	
	text-transform	: lowercase;
	border-bottom	: 2px dotted #ddd;
}

ul {
	list-style	: none;

	margin		: 0px;
	padding		: 0px;
	margin-left	: 50px;
}

li {
	background-image	: url(img/tick.gif);
	background-repeat	: no-repeat;
	background-position	: 15px 10px;
	padding-left		: 30px;
}

ul ul {
	margin-left		: 10px;
}

ul.large li {
	margin-bottom	: 15px;
}

ul ul li  {
	font-size : 85%;
	text-transform : lowercase;
}

pre {
	color			: #888;
	background		: #f9f9f9;
	margin-left		: 30px;
	padding-left	: -20px;
	padding-top		: 10px;
	padding-bottom	: 10px;
	border			: 1px solid #ddd;
}


code {
	font-weight			: bold;
	color				: #888;
	background-color	: #f9f9f9;
	padding-left		: 5px;
	padding-right		: 5px;
}

/*** MISC ***/

.corpo {
	border-top		: 1px dotted #ccc;
	color			: #999;
	font-size		: 8pt;
	text-align		: center;
	margin-bottom	: 20px;
}


/*** SITE LAYOUT ***/

.siteHeader {
	background-image	: url(img/header_bg.gif);
	background-repeat	: repeat-x;
	background-position	: top center;
}

.siteBanner {
	background-image	: url(img/header.jpg);
	background-repeat	: no-repeat;
	background-position	: top center;
	height				: 123px;
}

.siteBox {
	text-align	: justify;
	width		: 800px;
	margin		: auto;
}


.bannerContent {
	text-align	: left;
	width		: 800px;
	margin		: auto;
}

.siteContent {
	padding		: 10px;
	padding-top	: 20px;
}


/*** MENU ***/

ul.siteMenu {
	list-style	: none;
	margin		: 0px;
	padding		: 0px;
	margin-left	: 140px;
	padding-top	: 92px;
}

ul.siteMenu li {
	background	: none;
	float		: left;
	position	: relative;
	margin		: 0px;
	padding		: 0px;
	margin-right: 10px;

	font-size	: 9pt;
	color		: #777;
	text-transform: lowercase;
}


/*** TABLES ***/

table {
	border-collapse	: separate;
	border-spacing	: 3px;
	margin-left		: 60px;
	border			: 1px dotted #f0f0f0;
}

table td {
	background-color	: #fafafa;
	padding-left		: 5px;
	padding-right		: 5px;
}


table th {
	color				: #999;
	background-color	: #eee;
	padding-left		: 5px;
	padding-right		: 5px;
}


/*** HACKS ***/

#scroll {
	position : absolute;
	top : 0;
	bottom : -0.1px;
	width : 1em;
	z-index : -1;
}

/*** DOCUMENTATION ***/

doc_blk {
	display : block;
	margin-bottom : 20px;
}

doc_code {
	font-family : fixed;
}

doc_doc {
	display : block;
}

doc_type, doc_name {
	font-family : fixed;
	color			: #888;
	background-color	: #f9f9f9;
}

