parameters:
  name: 'BuildWindows'
  vmImage: ''
  cmakeGenerator: ''
  arch: ''
  config: 'RelWithDebInfo'

jobs:
  - job: ${{ parameters.name }}
    pool:
      vmImage: ${{ parameters.vmImage }}
    steps:
      - ${{ if eq(parameters.vmImage, 'vs2017-win2016') }}:
        - powershell: |
            Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
            Write-Host "##vso[task.prependpath]C:\ProgramData\chocolatey\bin"
          displayName: Install Chocolatey
      - powershell: |
          $ErrorActionPreference = "Continue"
          choco install activeperl -y
          If (!$?) {
            state update
            choco install activeperl -y
          }
          Write-Host "##vso[task.prependpath]C:\Perl64\bin"
        displayName: Install Perl
      - ${{ if eq(parameters.vmImage, 'vs2017-win2016') }}:
        - script: cmake . -G "${{ parameters.cmakeGenerator }}"
          displayName: CMake
      - ${{ if eq(parameters.vmImage, 'windows-2019') }}:
        - script: cmake . -G "${{ parameters.cmakeGenerator }}" -A ${{ parameters.arch }}
          displayName: CMake
      - script: |
          cmake --build . --config ${{ parameters.config }} --target download_static_deps || \
          cmake --build . --config ${{ parameters.config }} --target download_static_deps || \
          cmake --build . --config ${{ parameters.config }} --target download_static_deps
        displayName: Download static deps
      - script: cmake --build . --config ${{ parameters.config }}
        displayName: Build
      - script: ctest --verbose --build-config ${{ parameters.config }}
        displayName: Test
      - script: cmake --build . --config ${{ parameters.config }} --target PACKAGE
        displayName: Package binaries
      - bash: |
          set -ex
          [ "`./bin/neko -version`" == "$(NEKO_VERSION)" ]
        displayName: Check version
      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: ${{ parameters.name }}Binaries
          ${{ if eq(parameters.arch, 'Win32') }}:
            targetPath: bin/neko-$(NEKO_VERSION)-win.zip
          ${{ if eq(parameters.arch, 'x64') }}:
            targetPath: bin/neko-$(NEKO_VERSION)-win64.zip
